html {
	font-size: 60%;
	box-sizing: border-box;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	background-color: #2e3247;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 160%;
	font-weight: 300;
	overflow-z: hidden;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

a {
	font-weight: 400;
	color: white;
	text-decoration: none;
}

a:focus,
a:hover {
	color: white;
}

em {
	font-weight: 700;
	font-size: 140%;
	color: black;
	font-style: normal;
}

section {
	background-image: url("../images/gradient2.jpg");
	background-repeat: repeat;
	background-position: center center;
	background-size: cover;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	text-align: center;
	align-items: center;
	justify-content: center;
}

/* section h2 {
	color: white;
	background: rgba(0, 0, 0, 0.3);

	padding: 16px;
	border-radius: 3px;
} */

@media screen and (min-width: 600px) {
	.header {
		height: 100vh;
	}
}

@media screen and (min-width: 600px) {
	.header .tagline {
		display: block;
		color: #fff;
		max-width: 40em;
		line-height: 140%;
		font-size: 0.5rem;
	}
	.header .tagline h1 {
		display: none;
	}
	.header .tagline em {
		font-size: 140%;
		font-style: normal;
	}
}

#city,
#postcode {
	width: 200px;
	height: 30px;
	margin: 5px;
	border: none;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}

#city {
	margin-top: 15px;
}

#getTemp {
	cursor: pointer;
	border: none;
	height: 30px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	margin-top: 5px;
}

#getTemp:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

select {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	width: 200px;
	height: 30px;
	color: #727272;
	cursor: pointer;
}

footer {
	font-size: 0.7em;
	color: white;
	padding-left: 8px;
}

.display-weather {
}

#icon {
	padding: 5px;
	text-align: center;
}

.weather-card {
	display: flex;
	align-items: left;
	flex-direction: row;
	max-width: 500px;
	background: rgba(60, 62, 81, 0.2);
	backdrop-filter: blur(5px);

	margin: 20px 20px;
	color: white;
	padding: 16px;
	border: rgba(60, 62, 81, 0.1) solid 1px;
	border-radius: 5px;
}
